mixin footer-v01(btn, integer, float, currency, info)
  .footer
    button.footer__submit.btn._green
      =btn
      .footer__integer= integer
      .footer__float= float
      .footer__currency= currency
    if (info)
      .footer__info= info

mixin footer-v02(btn, link)
  .footer
    button.footer__submit.btn._green= btn
    if (link)
      .footer__info
        a.footer__link(href='')= link

mixin footer-v03()
  .footer
    button.footer__submit.footer__submit.btn._green._spinner
      include ./../layouts/spinner

mixin footer-v04()
  .footer
    button.footer__button Оплатить

mixin footer-v05()
  .footer
    a.footer__link(href='#')
      include ../../img/back.svg